<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>WesternAI needs photo to be scanned to find out what kind of waste it is in the picture</string>
	<key>NSCameraUsageDescription</key>
	<string>WesternAI needs picture to be scanned to find out what kind of waste it is in the picture</string>
</dict>
</plist>
